player-connection-mode=Listen
player-connection-guid=3315432572
player-connection-debug=0
player-connection-project-name=Net Shooter
player-connection-ip=172.16.10.3
player-connection-ip=192.168.1.15
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
